
/* Importation des polices via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Selecteur basiques */

    .marginauto{
        margin: auto;
    }

    .flex{
        display: flex;
        
    }

    .align_center{
        align-items: center;
    }

    .justify_center{
        justify-content: center;
        gap: 160px;
    }

    .wrap{
        flex-wrap: wrap;
    }

    .nowrap{
        flex-wrap: nowrap;
        text-wrap: nowrap;
    }


    .white{
        color: white;
    }

    .container{
        display: block;
    }

    
/* Partie header */
.header{
    justify-content: center;
    gap: 100px;
    position: sticky;
    top:0;
    z-index: 2;
    transition: all 1s ease;
}

.header_color{
    background-color: #fc8f92;
}

.header_list{
    gap: 50px;
    list-style: none;    
    font-size: larger;
}

.header_list li{
    transition: all 0.4s ease;

}

.header_list li:hover{
    font-size: 125%;
    margin: 0 50px;
    color: #41B06E;
}

.logo{
    width: 100px;
    margin: 10px;
    transition: all 0.44s ease;
}

/* Anim  logo */

    .logo:hover, .herologo:hover{
        animation: logoMove 0.75s;
    }

    @keyframes logoMove {

        0% 
        {
        transform: rotate(0deg);
        }
        20%
        {
            transform: rotate(10deg);
        }
        40%
        {
            transform: rotate(-10deg);
        }
        60%
        {
            transform: rotate(10deg);
        }
        80%
        {
            transform: rotate(-10deg);
        }
        100% 
        {
        transform: rotate(0deg);
        }
    }


/* Header quand on scroll */
.header.toggleHeader{
    background: rgb(0,0,0);
    background: linear-gradient(#fff5e077 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(3px);
    border-radius: 0 0 100% 100%;
    animation: slideDown 0.65s ease-in-out;
}

.header.toggleHeader img{
    width: 70px;
}

/* Animation Header après scroll */
    @keyframes slideDown {

        from {
    
        transform: translateY(-100%);
    
        }
    
        to {
    
        transform: translateY(0);
    
        }
    
    }
  

/* Partie Hero */

    .hero{
        background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3da7d31f-8479-4d32-8a2e-24d012263a77/de3vi9c-d65bcab9-3dbf-4c9a-97f8-fb5ea96f94af.png/v1/fill/w_1280,h_800,q_80,strp/pixel_art_background_practice2_by_raisinbreadx_de3vi9c-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAwIiwicGF0aCI6IlwvZlwvM2RhN2QzMWYtODQ3OS00ZDMyLThhMmUtMjRkMDEyMjYzYTc3XC9kZTN2aTljLWQ2NWJjYWI5LTNkYmYtNGM5YS05N2Y4LWZiNWVhOTZmOTRhZi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.A4NUyJzbBU53Xk0nAxkGceanW_29gws459-2svc9sAs);
        width: 100%;
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .herocontent{
        width: 100%;
        height: 100%;
        padding-top: 40px;
    }

    .herocontent *{
        margin-top: 50px;
        text-align: center;
    }

    h1{
        font-size: 100px;
        text-transform: uppercase;
        
    }

    h2{
        font-size: 60px;
        text-wrap: nowrap;
        text-shadow: black 3px 2px 10px;;
        margin-bottom: 35px;
    }

    .herologo{
        width: 200px;
        margin: 0 auto;


    }

    .h1color{
        width: 450px;
        background-color: #CA4246;
        filter: drop-shadow(3px 3px 0px rgba(0,0,0,1));
        

        background-image: linear-gradient(
        90deg,
        #141E46 56%, 
        #8DECB4 0);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 

        margin-bottom: -30px;

    }

    .herotxt{
        backdrop-filter: blur(2px);
        background-color: #ffffff3a;
        width: 100%;
        height: 400px;
    }

/* Boutons */
.btn{
    font-style: none;
    text-decoration: none;
    text-wrap: nowrap;
    position: relative;

}

.btn_hero{
    background-color: #d0d1d5;
    color: black;
    font-size: x-large;

    padding: 15px;
    box-shadow: 0 0 0 1px rgb(255, 255, 255),
                2px 3px 0 3px #565658,
                0 0 0 5px;

}


/* Anim bouton lorsque appuyé */
.btn:active{
    top: 2px;
  }

/* Div des catégories */
    .div_categorie{
        background-color: #141E46;
        align-items: center;

    }

    .trianglehaut{
        background-color: rgba(255, 0, 0, 0);
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        top: -39px;
        width: 0; 
        height: 0; 
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 40px solid #141E46;
        z-index: 1;

    }
    .trianglebas{
        background-color: rgba(255, 0, 0, 0);
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        bottom: -40px;
        width: 0; 
        height: 0; 
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 40px solid #141E46;
        z-index: 1;

    }

    .divtext{
        margin: auto;
        font-size: 50px;
        text-shadow: 5px 5px 0 black;
    
        text-align: center;
    }

/* Section Services */
    .services{
        padding: 60px;
        background-color: #FFF5E0;
        font-size: 30px;
    }

    .services p{
        margin-bottom: 70px;
    }

    .service_right{
    text-align: end;
    }


/* Section Réalisations */
    .realisations{
        width: 100%;
        height: auto;


    }



    .real_case{ 
        width: 33.33%;
        height: 280px;
        position: relative;

        transition: all 0.5s ease;
        overflow: hidden;
    }


    .img_real, .real_txt{
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;

    }

    .img_real{
        object-fit: cover;
        overflow: hidden;

    }

        .separateur_mini{
        margin:  7px auto;
        width: 50px;
        height: 3px;
        background-color: white;
    }

    .real_txt{
        position: absolute;
        top: 0;
        background-color: rgba(19, 19, 19, 0.574);
        text-align: center;
        padding: 50px;
        text-shadow: black 2px 2px 3px;
        /* Caché */
        
        opacity: 0;
        transition:all 0.5s ease;

    }

    .real_case:hover .real_txt{
        opacity: 1;
        backdrop-filter: blur(3px);

        

    }

    .real_case:hover .img_real{
        transform: scale(1.1);
        transform-origin: center center;
    }

    .real_txt h3 {
        font-size: 1.5rem;

        
    }
    .real_txt p {
        font-size: 1.1rem;
        margin-bottom: 30px;

        
    }

    .separateur_mini{
        margin:  7px auto 15px;
        width: 50px;
        height: 3px;
        background-color: white;
    }


    /* SECTION TEMOIGNAGES */

    .section_temoignage{
        padding: 80px;
    }

    .carte_temoignage{
        width: 40%;
        height: 150px;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.337) 2px 2px 5px;
    }

    .prenom_temoignage{
        font-size: 18px;
        margin-bottom: 7px;
    }

    .typePres_temoignage{
        font-size: 14px;
        margin-bottom: 14px;
        
    }

    .rating_temoignage{
        width: 40%;
        height: 150px;
        padding: 15px;
        text-align: center;
        font-size: 5rem;
        color: gold;

    }

    .commentaire_temoignage{
        font-size: 19px;

    }

    /* ADD FONT AWESOME PLUS + intégration */
    .btn_mini{
        background-color: #41B06E;
        display: inline-block;
        text-align: center;
        font-weight: 600;
        font-size: larger;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: white;
        bottom: 10px;        
    }



/* POLICES DECRITURE */

    .josefin-sans-gras {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }

    .josefin-sans {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }

    .pixel {
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .vt323 {
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
    }

